.login { 
  display: none !important; 
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  border-bottom: solid 1px #C0C0C0;
  box-sizing: border-box;
}

.page {
  background: white;
}

.page:first-child {
  top: 0;
  padding: 1em;
}
